// Font variables
$text-font: 'Cabin', sans-serif;
$title-font: 'Roboto', sans-serif;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;

//Color variables
$white: #fff;
$black: #000;
$bg-color: #EFEFEF;
$red: #F83535;
$green: #2DB7B7;
$gray-dark: #F0F0F0;

$line-color: rgba(0, 0, 0, 0.2);

//Mixins
@mixin flex-center {
   @include flex;
   justify-content: center;
   align-items: center;
}

